SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=sam@digitalseva.us
SMTP_PASS=dtnvdeoqbogqvlic
CONTACT_TO_EMAIL=sam@digitalseva.us
CONTACT_FROM_EMAIL=sam@digitalseva.us
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-93QW7FM2KC
NEXT_PUBLIC_CLARITY_PROJECT_ID=
GOOGLE_SITE_VERIFICATION=
BING_SITE_VERIFICATION=
